<div class="ui-spinner input-group" style="margin-bottom:-4px;">
    <input class="form-control ui-spinner-input" type="text" ng-disabled="ngDisabled" placeholder="{{placeholder}}" maxlength="{{maxlength()}}">
    <a href="" ng-click="!ngDisabled && increase()" ng-disabled="ngDisabled" class="ui-spinner-button ui-spinner-up">
        <span class="icon-caret-up"></span>
    </a>
    <a href="" ng-click="!ngDisabled && decrease()" ng-disabled="ngDisabled" class="ui-spinner-button ui-spinner-down">
        <span class="icon-caret-down"></span>
    </a>
</div>