<div class="row">
    <div class="col-md-12">
        <label class="required" for="descricao">Descrição</label>
        <input type="text" class="form-control" name="descricao" data-ng-model="registro.descricao" data-bf-required="true" maxlength="60">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="required" for="localidadeMunicipio">Município</label>
        <select name="" id="" bf-select2="{}"  ng-model="mun">
            <option value=""></option>
            <option value="1">Município 1</option>
            <option value="2">Município 2</option>
            <option value="3">Município 3</option>
            <option value="4">Município 4</option>
            <option value="5">Município 5</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="required" for="localidadeDistrito">Distrito</label>
        <select name="" id="" bf-select2="{}"  ng-model="dis">
            <option value=""></option>
            <option value="1">Distrito 1</option>
            <option value="2">Distrito 2</option>
            <option value="3">Distrito 3</option>
            <option value="4">Distrito 4</option>
            <option value="5">Distrito 5</option>
        </select>
    </div>
</div>
