
<div class="modal-dialog modal-xxl">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">
                Adicionando perfil de construtora</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-1 text-center">
                    <i class="fa fa-info-circle fa-2x text-muted mTop10"></i>
                </div>
                <div class="col-md-11">
                    <h4>Informações gerais</h4>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-md-11 col-md-offset-1">
                    <div class="bth-card bth-card--filled">
                        <div class="bth-card__body">
                            <div class="row">
                                <div class="col-md-7">
                                    <i class="fa fa-user fa-fw text-muted"></i>
                                    <strong title="Nome">Empresa do Fulano</strong> <small title="Nome fantasia">(Fulano S.A)</small>
                                </div>
                                <div class="col-md-5">
                                    <i class="fa fa-id-card fa-fw text-muted"></i>
                                    <small title="CNPJ">08.378.507/0001-95</small>
                                </div>
                            </div>
                            <div class="row bottom">
                                <div class="col-md-11">
                                    <i class="fa fa-map-marker fa-fw text-muted"></i>
                                    <small title="Endereço">Rua Antônio Nart, 240, Alto Rio Maina - Siderópolis - SC (Brasil)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <label class="required" for="nroCrc">
                        Número do <abbr title="Conselho Regional de Engenharia e Agronomia">CREA</abbr>
                    </label>
                    <input id="nroCREA" type="text" name="nroCREA" class="form-control" maxlength="20" data-ng-model="vm.registro.nroRegistro" data-bf-required="true"/>
                </div>

                <div class="col-md-3">
                    <label class="required" for="dtRegistroConstrutora">
                        Data de registro
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" bf-date ng-model="d">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 text-center">
                    <i class="fa fa-users fa-2x mTop10 text-muted"></i>
                </div>
                <div class="col-md-11">
                    <h4 class="bottom">Engenheiros/Arquitetos</h4>
                </div>
            </div>

            <div class="row" ng-show="!arr.length">
                <div class="col-md-12 text-center">
                    <h4>Ainda não há engenheiros/arquitetos por aqui</h4>
                </div>
            </div>


            <div class="row" ng-init="arr=[{}]" ng-show="arr.length">
                <div class="col-md-11 col-md-offset-1">
                    <table class="table table-unfixed table-unstriped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th width="30"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in arr">
                                <td class="has-edit">
                                    <select bf-select2="{allowClear:true}" ng-model="a.arq">
                                        <option value=""></option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <a title="Excluir" href="" ng-click="arr.splice($index, 1)">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-md-12">
                    <button class="btn btn-sm btn-add btn-success pull-right" title="Adiciona um novo engenheiro ou arquiteto" ng-click="arr.push({})">Engenheiro/Arquiteto</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>