<ul class="nav nav-pills nav-stacked nav-marks">
	<li role="presentation" ng-class="{'active' : vincDividas}" ng-init="vincDividas = false"  ng-click="vincDividas = !vincDividas">
		<a href="">Dívidas</a>
	</li>
	<li role="presentation" ng-class="{'active' : vincProcessos}" ng-init="vincProcessos = false"  ng-click="vincProcessos = !vincProcessos">
		<a href="">Processos</a>
	</li>
	<li role="presentation" ng-class="{'active' : vincProtestos}" ng-init="vincProtestos = false"  ng-click="vincProtestos = !vincProtestos">
		<a href="">Protestos</a>
	</li>
</ul>