<div class="row">
	<div class="col-md-12">
		<table class="table table-unstriped table-unbordered table-unfixed">
			<thead>
				<th width="85px"></th>
				<th><span>Endereço</span></th>
				<th width="44px"></th>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="cell-wrapper">
							<span class="label label-info center-block">Principal</span><br>
						</div>
					</td>
					<td>
						<span>Rua Antônio Nart, 240, Alto Rio Maina - Siderópolis - SC (Brasil)</span>
					</td>
					<td class="text-center">
						<a href title="Editar" ng-click="adicionarEndereco()">
							<i class="fa fa-pencil fa-fw"></i>
						</a>
						<a href title="Excluir">
							<i class="fa fa-trash-o"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<span>Rua Rodolfo Hickel, 230, Canasvieiras - Florianópolis - SC (Brasil)</span>
					</td>
					<td>
						<a href title="Editar" ng-click="adicionarEndereco()">
							<i class="fa fa-pencil fa-fw"></i>
						</a>
						<a href title="Excluir">
							<i class="fa fa-trash-o"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>