<div class="container container-fluid">
	<div class="row mTop10">
		<div class="col-md-12">
			<div class="bth-card">
				<div class="bth-card__header">
					<h4 class="bth-card__title">Gerenciador de protestos</h4>
				</div>
				<ul class="nav nav-tabs bottom">
					<li ng-repeat="cadastro in cadastros" data-ui-sref="{{cadastro.sref}}" data-ui-sref-active="active">
						<a href="" ng-click="setTabProt()"><i class="fa fa-fw" ng-class="cadastro.icon"></i> {{cadastro.descricao}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ui-view="child"></div>
</div>