<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">Emitindo petição intermediária</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="required">Modelo</label>
                    <select bf-select2="{}" ng-model="modelo">
                        <option value="1">Modelo 1</option>
                        <option value="2">Modelo 2</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="required">Tipo</label>
                    <select bf-select2="{}" ng-model="tipo">
                        <option value="1">Tipo 1</option>
                        <option value="2">Tipo 2</option>
                    </select>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-md-12">
                    <div class="list-item-flex">
                        <div class="item-content-flex">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="list-item-title">
                                        <div class="ellipsis" title="Número do processo">
                                            <strong>9875642</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" title="Local de tramitação">
                                    <span class="ellipsis">Comarca de Siderópolis - 1ª vara de Siderópolis</span>
                                </div>
                                <div class="col-md-3 text-right">
                                    <label class="label label-warning" title="Situação">
                                        Suspensa
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" title="Executado">
                                    <small>Executado </small><strong class="text-muted"> Flávia de Oliveira Guaresi</strong>
                                </div>
                                <div class="col-md-6" title="Procurador">
                                    <small>Procurador </small><strong class="text-muted">Flávia Aparecida Nesi</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Emitir</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>