<div ng-controller="TributosCoreConveniosCtrl">
	<div class="row">
		<div class="col-md-3">
			<div class="btn-group">
				<button type="button" class="btn btn-success btn-sm btn-add" data-ng-click="adicionar()" title="Adiciona um novo convênio">Convênio</button>
			</div>
		</div>
		<div class="col-md-9">
			<div class="pull-right">
				<form class="form-inline">
					<div class="btn-group">

						<!-- Colunas a exibir -->

						<div class="btn-group">
							<button id="dropdownColunas" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Definir colunas a exibir">
								<i class="fa fa-columns"></i> 
								<span class="caret"></span>
							</button>
						</div>

						<!-- Altura das linhas -->

						<div class="btn-group">
							<button id="dropdownAltura" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Definir altura das linhas">
								<i class="fa fa-reorder"></i> 
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownAltura">
								<li class="dropdown-header">Altura das linhas</li>
								<li><a href="" ng-click="setLineHeight('1')" class="btn-check" ng-class="{'active' : lineHeight == 1}">Padrão</a></li>
								<li><a href="" ng-click="setLineHeight('2')" class="btn-check" ng-class="{'active' : lineHeight == 2}">Condensada</a></li>
							</ul>
						</div>
					</div>
					<button type="button" class="btn btn-default btn-sm" title="Atualizar">
						<i class="fa fa-refresh"></i>
					</button>

					<!-- Pesquisa inline -->
					<div class="input-group">
						<input id="searchInput" type="text" placeholder="Pesquisar" class="form-control input-sm search-field" data-toggle="dropdown">

						<!-- Pesquisa avançada -->

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-sm" title="Pesquisar"><i class="fa fa-search"></i></button>
							<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Pesquisa avançada"><i class="fa fa-filter"></i> <span class="caret"></span></button>

							<ul class="dropdown-menu dropdown-pesquisas-avancada dropdown-menu-right">
								<li class="dropdown-header">
									<button type="button" class="close" data-dismiss="dropdown" title="Fechar"><span aria-hidden="true">&times;</span></button>
									<h1>Pesquisa avançada</h1>
								</li>
								<li class="dropdown-header">Pesquisar na(s) coluna(s)</li>
								<li>
									<select id="filtroColunas" bf-select2="{}" ng-model="colunasSelect" multiple="true">
										<option value="1">Banco</option>
										<option value="2">Agência</option>
										<option value="3">Nº do convênio</option>
									</select>
								</li>
								<li class="dropdown-header">Utilizando como critério</li>
								<li>
									<div class="bth-radio bth-radio-inline">
										<input id="rdAlguns" type="radio" value="1" name="bthRadioCriterio" ng-model="tipoPesquisa">
										<label for="rdAlguns">Alguns dos termos digitados</label>
									</div>
									<div class="bth-radio bth-radio-inline">
										<input id="rdTodos" type="radio" value="2" name="bthRadioCriterio" ng-model="tipoPesquisa">
										<label for="rdTodos">Todos os termos digitados</label>
									</div>
									<div class="bth-radio bth-radio-inline">
										<input id="rdNenhum" type="radio" value="3" name="bthRadioCriterio" ng-model="tipoPesquisa">
										<label for="rdNenhum">Nenhum dos termos digitados</label>
									</div>
								</li>
								<li class="dropdown-footer pull-right">
									<button class="btn btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Utilizar quando não houverem registros cadastrados ainda -->

	<!-- <div class="row">
		<div class="col-md-12">
			<div class="col-md-12 text-center">
				<h4>Ainda não há notas avulsas por aqui</h4>
			</div>
		</div>
	</div> -->

	<!-- Utilizar quando a busca não retornar resultados -->

	<!-- <div class="row">
		<div class="col-md-12 text-center">
			<h4>Nenhum resultado encontrado para o(s) filtro(s) utilizado(s)</h4>
		</div>
	</div> -->

	<div class="row">
		<div class="col-md-12">
			<table class="table" ng-class="{'table-condensed' : lineHeight == 2}">
				<thead>
					<tr>
						<th>
							<a href="">Descrição</a>
							<i class="icon-sort pull-right"></i>
						</th>
						<th width="15%">
							<a href="">Número</a>
							<i class="icon-sort pull-right"></i>
						</th>
						<th width="20%">
							<a href="">Banco</a>
							<i class="icon-sort pull-right"></i>
						</th>
						<th width="20%">
							<a href="">Agência</a>
							<i class="icon-sort pull-right"></i>
						</th>
						<th width="8%">
							<a href="">Situação</a>
							<i class="icon-sort pull-right"></i>
						</th>
						<th width="98px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Convênio teste</td>
						<td>1892182137719</td>
						<td>04 - Itaú</td>
						<td>8809 - Agência Central</td>
						<td><span class="label label-success show">Disponível</span></td>
						<td class="text-center">
							<a href="" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>
							<a href="" title="Excluir"><i class="fa fa-fw fa-trash-o"></i></a>
							<div class="btn-group">
								<a class="dropdown-toggle" href data-toggle="dropdown" title="Mais opções">
									<i class="fa fa-fw fa-cogs"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li class="dropdown-header">Ações disponíveis</li>
									<li>
										<a href="">Indisponibilizar</a>
										<a href="" ng-click="simular()">Simular códigos de barras</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td>Convênio teste</td>
						<td>1892182137719</td>
						<td>04 - Itaú</td>
						<td>8809 - Agência Central</td>
						<td><span class="label label-danger show">Indisponível</span></td>
						<td class="text-center">
							<a href="" title="Editar"><i class="fa fa-fw fa-pencil"></i></a>
							<a href="" title="Excluir"><i class="fa fa-fw fa-trash-o"></i></a>
							<div class="btn-group">
								<a class="dropdown-toggle" href data-toggle="dropdown" title="Mais opções">
									<i class="fa fa-fw fa-cogs"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li class="dropdown-header">Ações disponíveis</li>
									<li>
										<a href="">Disponibilizar</a>
										<a href="" ng-click="simular()">Simular códigos de barras</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<form class="form-inline">
				1-20 de 126
				<select class="form-control input-sm" ng-model="numberOfResults">
					<option value="20">20</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				resultados por página
			</form>
		</div>
		<div class="col-md-6">
			<div class="pull-right">
				<button class="btn btn-default btn-sm disabled"><i class="fa fa-angle-left"></i> Anterior</button>
				<button class="btn btn-default btn-sm active">1</button>
				<button class="btn btn-default btn-sm">2</button>
				<button class="btn btn-default btn-sm">3</button>
				<button class="btn btn-default btn-sm">4</button>
				<button class="btn btn-default btn-sm">Próxima <i class="fa fa-angle-right"></i></button>
			</div>
		</div>
	</div>
</div>
