<div class="container container-page">
	<div class="page-header">
		<div class="row">
			<div class="col-md-7">
				<h1 class="page-title">Fórmulas</h1>
			</div>
			<div class="col-md-5">
				<ol class="breadcrumb">
					<li>Configurando</li>
					<li>Fórmulas</li>
					<li>Fórmulas</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="section-content">
		<div class="row">
			<div class="col-md-3">
				<div class="btn-group">
					<button type="button" class="btn btn-success btn-sm btn-add" data-ng-click="adicionar(false)" title="Adiciona uma nova fórmula de cálculo">Fórmula</button>
				</div>
			</div>
			<div class="col-md-9">
				<div class="pull-right">
					<form class="form-inline">
						<div class="btn-group">

							<!-- Colunas a exibir -->

							<div class="btn-group">
								<button id="dropdownColunas" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Definir colunas a exibir">
									<i class="fa fa-columns"></i> 
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li class="dropdown-header">Colunas a exibir</li>
									<li>
										<a href="" data-value="col1">
											<div class="bth-checkbox">
												<input id="coluna1" type="checkbox" ng-model="coluna1IsVisible">
												<label for="coluna1">Nome</label>
											</div>
										</a>
									</li>
									<li>
										<a href="" data-value="col2">
											<div class="bth-checkbox">
												<input id="coluna2" type="checkbox" ng-model="coluna2IsVisible">
												<label for="coluna2">Detalhes</label>
											</div>
										</a>
									</li>
									<li>
										<a href="" data-value="col3">
											<div class="bth-checkbox">
												<input id="coluna3" type="checkbox" ng-model="coluna3IsVisible">
												<label for="coluna3">Situação</label>
											</div>
										</a>
									</li>
								</ul>
							</div>

							<!-- Altura das linhas -->

							<div class="btn-group">
								<button id="dropdownAltura" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Definir altura das linhas">
									<i class="fa fa-reorder"></i> 
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownAltura">
									<li class="dropdown-header">Altura das linhas</li>
									<li><a href="" ng-click="setLineHeight('1')" class="btn-check" ng-class="{'active' : lineHeight == 1}">Padrão</a></li>
									<li><a href="" ng-click="setLineHeight('2')" class="btn-check" ng-class="{'active' : lineHeight == 2}">Condensada</a></li>
								</ul>
							</div>
						</div>
						<button type="button" class="btn btn-default btn-sm" title="Atualizar">
							<i class="fa fa-refresh"></i>
						</button>

						<!-- Pesquisa inline -->
						<div class="input-group">
							<input id="searchInput" type="text" placeholder="Pesquisar" class="form-control input-sm search-field" data-toggle="dropdown">

							<!-- Pesquisa avançada -->

							<div class="input-group-btn">
								<button type="button" class="btn btn-default btn-sm" title="Pesquisar"><i class="fa fa-search"></i></button>
								<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Pesquisa avançada"><i class="fa fa-filter"></i> <span class="caret"></span></button>

								<ul class="dropdown-menu dropdown-pesquisas-avancada dropdown-menu-right">
									<li class="dropdown-header">
										<button type="button" class="close" data-dismiss="dropdown" title="Fechar"><span aria-hidden="true">&times;</span></button>
										<h1>Pesquisa avançada</h1>
									</li>
									<li class="dropdown-header">Pesquisar na(s) coluna(s)</li>
									<li>
										<select id="filtroColunas" bf-select2="{}" ng-model="colunasSelect" multiple="true">
											<option value="1">Tipo</option>
											<option value="2">Detalhes</option>
											<option value="3">Situação</option>
										</select>
									</li>
									<li class="dropdown-header">Utilizando como critério</li>
									<li>
										<div class="bth-radio bth-radio-inline">
											<input id="rdAlguns" type="radio" value="1" name="bthRadioCriterio" ng-model="tipoPesquisa">
											<label for="rdAlguns">Alguns dos termos digitados</label>
										</div>
										<div class="bth-radio bth-radio-inline">
											<input id="rdTodos" type="radio" value="2" name="bthRadioCriterio" ng-model="tipoPesquisa">
											<label for="rdTodos">Todos os termos digitados</label>
										</div>
										<div class="bth-radio bth-radio-inline">
											<input id="rdNenhum" type="radio" value="3" name="bthRadioCriterio" ng-model="tipoPesquisa">
											<label for="rdNenhum">Nenhum dos termos digitados</label>
										</div>
									</li>
									<li role="separator" class="divider"></li>
									<li class="dropdown-header"> 
										<h1>Outras opções</h1>
									<li>
									<li class="dropdown-header">
										Tipo(s)
									</li>
									<li>
										<select bf-select2="{}" ng-model="entidadesSelect" multiple="multiple">
											<option value="2">Acréscimos</option>
											<option value="3">Cálculo imobiliário</option>
											<option value="6">Contribuição de melhoria</option>
											<option value="8">Desconto para parcelamento</option>
											<option value="5">ITBI (Imposto sobre a Transmissão de Bens Imóveis)</option>
											<option value="1">Requerimento da manutenção de cálculo</option>
											<option value="7">Baixa de arquivo</option>
											<option value="4">Validação cadastral</option>
											<option value="9">Manutenção de dívida ativa</option>
										</select>
									</li>
									<li class="dropdown-footer pull-right">
										<button class="btn btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
									</li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Utilizar quando não houverem registros cadastrados ainda -->

		<!-- <div class="row">
			<div class="col-md-12">
				<div class="col-md-12 text-center">
					<h4>Ainda não há fórmulas por aqui</h4>
				</div>
			</div>
		</div> -->

		<!-- Utilizar quando a busca não retornar resultados -->

		<!-- <div class="row">
			<div class="col-md-12 text-center">
				<h4>Nenhum resultado encontrado para o(s) filtro(s) utilizado(s)</h4>
			</div>
		</div> -->
		
		<div class="row">
			<div class="col-md-12">
				<table class="table" ng-class="{'table-condensed' : lineHeight == 2}">
					<thead>
						<tr>
							<th width="25%">
								<a href="">Tipo</a>
								<i class="icon-sort pull-right"></i>
							</th>
							<th>
								<a href="">Detalhes</a>
								<i class="icon-sort pull-right"></i>
							</th>
							<th width="7%">Situação</th>
							<th width="70">
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="formula in formulas">
							<td>
								<div class="ellipsis" title="{{formula.tipo}}">{{formula.tipo}}</div>
							</td>
							<td>{{formula.detalhes}}</td>
							<td>
								<span class="label {{formula.situacao == 'ativa' ? 'label-success show' : 'gray7 show'}}">
									{{formula.situacao == 'ativa' ? 'Ativa' : 'Desativada'}}
								</span>
							</td>
							<td class="text-center has-alert">
								<a href title="Editar" ng-click="adicionar(true)"> 
									<i class="fa fa-fw fa-pencil"></i>
								</a>

								<div class="btn-group">
									<a href title="Mais ações" class="dropdown-toggle" data-toggle="dropdown"> 
										<i class="fa fa-fw fa-cogs"></i>
									</a>

									<ul class="dropdown-menu dropdown-menu-right">
										<li class="dropdown-header">Ações disponíveis</li>
										<li><a href="">{{formula.edit == true ? 'Editar' : 'Adicionar'}} script</a></li>

										
										<li ng-show="formula.antecipacao == true" class="{{formula.calculoAcrescimo != true ? 'disabled' : ''}}">
											<a href="">{{formula.edit == true ? 'Editar' : 'Adicionar'}} script de antecipação</a>
										</li>
									</ul>
								</div>
								
								<div class="list-alert-group" ng-show="formula.antecipacao == true && formula.edit != true && formula.calculoAcrescimo == true">
									<span class="label label-warning list-alert" title="Ainda não há script de antecipação">!</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<form class="form-inline">
					1-20 de 126
					<select class="form-control input-sm" ng-model="numberOfResults">
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					resultados por página
				</form>
			</div>
			<div class="col-md-6">
				<div class="pull-right">
					<button class="btn btn-default btn-sm disabled"><i class="fa fa-angle-left"></i> Anterior</button>
					<button class="btn btn-default btn-sm active">1</button>
					<button class="btn btn-default btn-sm">2</button>
					<button class="btn btn-default btn-sm">3</button>
					<button class="btn btn-default btn-sm">4</button>
					<button class="btn btn-default btn-sm">Próxima <i class="fa fa-angle-right"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
