<div class="modal-dialog modal-xs">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title">Copiando configuração</h3>
        </div>
        <div class="modal-body">
            <div>
                <div class="row bottom">
                    <div class="col-md-4">
                        <label class="required">Ano</label>
                        <span class="ui-spinner input-group">
                            <input id="spinner" class="form-control ui-spinner-input" value="2017" type="text" name="value" autocomplete="off" role="spinbutton">
                            <a class="ui-spinner-button ui-spinner-up" tabindex="-1">
                                <span class="icon-sort-up"></span>
                            </a>
                            <a class="ui-spinner-button ui-spinner-down" tabindex="-1">
                                <span class="icon-sort-down"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-default">Cancelar</button>
        </div>
    </div>
</div>