<!-- Visão de semana -->
<div class="bth-schedule bth-schedule--week">
	<ul class="bth-schedule__header">
		<li class="bth-schedule__corner"></li>
		<li class="bth-schedule__day-week" ng-class="{'bth-schedule__day-week--active': value.active, 'bth-schedule__day-week--past': value.past}" ng-repeat="(key, value) in daysWeek">
			<span>{{key}}</span>
			<h3>02</h3>
			<ul class="bth-schedule__events" ng-show="daysWeek[key].events.length">
				<li class="bth-schedule__event bth-schedule__event--arrow-left-active bth-schedule__event--arrow-right" tabindex="1" ng-focus="setFocus(event, true)" ng-blur="setFocus(event, false)" ng-style="getEventStylePosition(hour, event, $index, 2, true)" ng-class="['bth-schedule__event--span-' + event.range, event.isFocus ? 'bth-schedule__event--focus' : '']" ng-repeat="event in daysWeek[key].events">
					<a href="" class="label" ng-class="event.class" ng-click="recebimentoTrib({tipoPend:'PENDENTERECEBIMENTO'})">
						<i ng-class="event.icon"></i>
						{{event.desc}}
						<span ng-show="!isDurationMoreThanOneHour(hour, event)">, 09:00</span>
						<ul class="bth-schedule__details" ng-show="isDurationMoreThanOneHour(hour, event)">
							<li>05:00 - 06:00</li>
							<li>Sala 3</li>
						</ul>
					</a>
				</li>
				<li class="bth-schedule__event bth-schedule__event--more">
					<a href="" bf-popover="'gerenciador-documentos/popover-erro.html'" bf-popover-size="med-popover" data-placement="bottom">
						Mais 7
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<div class="bth-schedule__container">

		<ul class="bth-schedule__legend">
			<li ng-repeat="hour in (listOnlyComercial == 1 ? comercialHours : hours)">
				<span>{{hour + ':00'}}</span>
			</li>
		</ul>

		<ul class="bth-schedule__week">
			<li class="bth-schedule__day" ng-class="{'bth-schedule__day--active': day.active, 'bth-schedule__day--past': day.past}" ng-repeat="day in week.days track by $index">
				<ul class="bth-schedule__hours">
					<li class="bth-schedule__current-time" ng-show="day.active" ng-style="getStyleCurrentTimeRelative()"></li>
					<li class="bth-schedule__hour" ng-repeat="hour in (listOnlyComercial == 1 ? comercialHours : hours)">
						<ul class="bth-schedule__events" ng-show="day.events[hour].length">
							<li class="bth-schedule__event" tabindex="1" ng-focus="setFocus(event, true)" ng-blur="setFocus(event, false)" ng-style="getEventStylePosition(hour, event, $index, 1, false, day.events[hour])" ng-class="['bth-schedule__event--span-' + event.range, event.isFocus ? 'bth-schedule__event--focus' : '']" ng-repeat="event in day.events[hour]">
								<a href="" class="label" ng-class="event.class" ng-click="recebimentoTrib({})" ng-if="event.desc == '200 Intimações a receber'">
									<i ng-class="event.icon"></i>
									{{event.desc}}
									<span ng-show="!isDurationMoreThanOneHour(hour, event)">, 09:00</span>
									<ul class="bth-schedule__details" ng-show="isDurationMoreThanOneHour(hour, event)">
										<li>{{event.end.hour - event.range}}:{{event.minute}} - {{event.end.hour}}:{{event.end.minute | date: 'ss'}}</li>
										<li>Sala 3</li>
										<li>{{event}}</li>
									</ul>
								</a>
								<a href="" class="label" ng-class="event.class" ng-if="event.desc != '200 Intimações a receber'" ng-click="setEvent(day.events[hour][0])">
									<span data-bf-popover="'common/agenda/popover-agenda-compromisso.html'" ng-class="event.class" class="popover-active" data-placement="bottom" bf-popover-size="big-popover" title="{{event.desc}}">
									<i ng-class="event.icon"></i>
									{{event.desc}}
									<span ng-show="!isDurationMoreThanOneHour(hour, event)">, 09:00</span>
									<ul class="bth-schedule__details" ng-show="isDurationMoreThanOneHour(hour, event)">
										<li>{{event.end.hour - event.range}}:{{event.minute}} - {{event.end.hour}}:{{event.end.minute | date: 'ss'}}</li>
										<li>Sala 3</li>
										<li>{{event}}</li>
									</ul>
									</span>
								</a>
							</li>
							<li class="bth-schedule__event bth-schedule__event--more">
								<a href="" >
									+ 7
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>