<div class="row">
	<div class="col-md-3">
		<div class="btn-group">
			<button type="button" class="btn btn-success btn-sm btn-add" data-ng-click="adicionar({})" title="Adiciona um novo modelo de documentos">Modelo</button>
		</div>
	</div>
	<div class="col-md-9">
		<div class="pull-right">
			<form class="form-inline">
				<div class="btn-group">
					<button id="dropdownExportar" type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" title="Fazer download">
						<i class="fa fa-fw fa-download"></i> Exportar
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Formato do arquivo
						</li>
						<li>
							<a href="">PDF</a>
						</li>
						<li>
							<a href="">CSV</a>
						</li>
						<li>
							<a href="">Excel</a>
						</li>
					</ul>
				</div>
	
				<!-- Pesquisa inline -->
				<div class="input-group">
					<input id="searchInput" type="text" placeholder="Pesquisar" class="form-control input-sm search-field" data-toggle="dropdown">

					<!-- Pesquisa avançada -->

					<div class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" title="Pesquisar"><i class="fa fa-search"></i></button>
						<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Pesquisa avançada"><i class="fa fa-filter"></i> <span class="caret"></span></button>

						<ul class="dropdown-menu dropdown-pesquisas-avancada dropdown-menu-right">
							<li class="dropdown-header">
								<button type="button" class="close" data-dismiss="dropdown" title="Fechar"><span aria-hidden="true">&times;</span></button>
								<h1>Pesquisa avançada</h1>
							</li>
							<li class="dropdown-header">Pesquisar na(s) coluna(s)</li>
							<li>
								<select id="filtroColunas" bf-select2="{}" ng-model="colunasSelect" multiple="true">
									<option value="1">Descrição</option>
								</select>
							</li>
							<li class="dropdown-header">Utilizando como critério</li>
							<li>
								<div class="bth-radio bth-radio-inline">
									<input id="rdAlguns" type="radio" value="1" name="bthRadioCriterio" ng-model="tipoPesquisa">
									<label for="rdAlguns">Alguns dos termos digitados</label>
								</div>
								<div class="bth-radio bth-radio-inline">
									<input id="rdTodos" type="radio" value="2" name="bthRadioCriterio" ng-model="tipoPesquisa">
									<label for="rdTodos">Todos os termos digitados</label>
								</div>
								<div class="bth-radio bth-radio-inline">
									<input id="rdNenhum" type="radio" value="3" name="bthRadioCriterio" ng-model="tipoPesquisa">
									<label for="rdNenhum">Nenhum dos termos digitados</label>
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">
								<h1>Outras opções</h1>
							<li>
							<li class="dropdown-header">
								Natureza
							</li>
							<li>
								<select bf-select2="{}" ng-model="findNatureza" multiple="multiple">
									<option value="1">Natureza 1</option>
									<option value="2">Natureza 2</option>
									<option value="3">Natureza 3</option>
									<option value="4">Natureza 4</option>
									<option value="5">Natureza 5</option>
								</select>
							</li>
							<li class="dropdown-footer pull-right">
								<button class="btn btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
							</li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-fixed table-hover table-unstriped">
			<thead>
				<tr>
					<th><span>Descrição</span></th>
					<!-- <th class="col-25"><span>Natureza</span></th> -->
					<th width="90"><span></span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="modelo in peticoes">
					<td>{{modelo.descricao}}</td>
					<!-- <td>{{modelo.natureza}}</td> -->
					<td class="text-right">
						<div class="btn-group">
							<button type="button" class="btn btn-link btn-xs" title="Copia o modelo para criar um novo" ng-click="adicionar({copia:true, _modelo: peticoes[$index]})"><i class="fa fa-fw fa-clone"></i></button>
							<button type="button" class="btn btn-link btn-xs" title="Edita o modelo de petição" ng-click="adicionar({isEditing:true, 	_modelo: peticoes[$index]})"><i class="fa fa-fw fa-pencil"></i></button>
							<button type="button" class="btn btn-link btn-xs" title="Exclui o modelo de petição" ng-click="peticoes.splice($index, 1)"><i class="fa fa-fw fa-trash"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<form class="form-inline">
			1-20 de 126
			<select class="form-control input-sm" ng-model="numberOfResults">
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
			resultados por página
		</form>
	</div>
	<div class="col-md-6">
		<div class="pull-right">
			<button class="btn btn-default btn-sm disabled"><i class="fa fa-angle-left"></i> Anterior</button>
			<button class="btn btn-default btn-sm active">1</button>
			<button class="btn btn-default btn-sm">2</button>
			<button class="btn btn-default btn-sm">3</button>
			<button class="btn btn-default btn-sm">4</button>
			<button class="btn btn-default btn-sm">Próxima <i class="fa fa-angle-right"></i></button>
		</div>
	</div>
</div>