<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title">Adicionando telefone</h3>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="row bottom">
                    <div class="col-md-1 text-center">
                        <i class="fa fa-phone fa-2x text-muted mTop10"></i>
                    </div>
                    <div class="col-md-11">
                        <h4>Informações  de telefone</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="required">Número</label>
                                <input type="text" class="form-control" data-ng-model="telefone.numero" data-bf-mask="getMascaraTelefone()">
                            </div>
                            <div class="col-md-2">
                                <label class="required">Tipo</label>
                                <select data-bf-select2="{}" data-ng-model="telefone.tipo">
                                    <option></option>
                                    <option value="0">Fixo</option>
                                    <option value="1">Celular</option>
                                    <option value="2">Fax</option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <label>Descrição</label>
                                <input type="text" id="descricao" class="form-control" data-ng-model="telefone.descricao" maxlength="20">                        
                            </div>
                        </div>
                        <div class="row bottom">
                            <div class="col-md-12">
                                <label>Observações</label>
                                <input class="form-control" ng-model="observacoes" maxlength="60">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="bth-checkbox bth-checkbox-info pull-left">
                <input id="checkbox-info" type="checkbox" checked="">
                <label for="checkbox-info">Telefone principal</label>
            </div>
            <button class="btn btn-primary" data-ng-click="save()" data-dismiss="modal">Salvar</button>
            <button class="btn btn-default" data-dismiss="modal" tabindex="-1">Salvar e adicionar novo</button>
            <button class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancelar</button>
        </div>
    </div>
</div>