<div class="row popover-info bottom">
	<div class="popover-info-content">
		<div class="row bottom">
			<div class="col-xs-7"><small>Valor do tributo</small></div>
			<div class="col-xs-5 text-right"> <small>R$ 2,00</small></div>
		</div>
		
		<div class="row bottom">
			<div class="col-xs-7"><small>Acréscimos</small></div>
			<div class="col-xs-5 text-right"> <small>R$ 4,00</small></div>
		</div>
			<div class="row bottom">
				<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Correção</small></div>
				<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
			</div>
			<div class="row bottom">
				<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Juros</small></div>
				<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
			</div>
			<div class="row">
				<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Multa</small></div>
				<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
			</div>
		
		
		<div ng-if="DIVIDAS">
			<div class="row bottom" ng-if="DIVIDAS">
				<div class="col-xs-7"><small>Anistia</small></div>
				<div class="col-xs-5 text-right"> <small>R$ 4,00</small></div>
			</div>
				<div class="row bottom">
					<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Anistia correção</small></div>
					<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
				</div>
				<div class="row bottom">
					<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Anistia juros</small></div>
					<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
				</div>
				<div class="row bottom">
					<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Anistia multa</small></div>
					<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
				</div>
				<div class="row">
					<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Anistia sobre o valor</small></div>
					<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
				</div>
		</div>

		<div class="row bottom">
			<div class="col-xs-7"><small>Remissão</small></div>
			<div class="col-xs-5 text-right"> <small>R$ 2,00</small></div>
		</div>
		<div class="row bottom">
			<div class="col-xs-7"><small>Descontos</small></div>
			<div class="col-xs-5 text-right"> <small>R$ 2,00</small></div>
		</div>
		
		<div class="row bottom">
			<div class="col-xs-7"><small>Benefícios</small></div>
			<div class="col-xs-5 text-right"> <small>R$ 4,00</small></div>
		</div>
			<div class="row bottom">
				<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Tributo</small></div>
				<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
			</div>
			<div class="row bottom">
				<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Correção</small></div>
				<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
			</div>
			<div class="row bottom">
				<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Juros</small></div>
				<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
			</div>
			<div class="row bottom">
				<div class="col-xs-7 col-xs-offset-1"><small class="text-muted">Multa</small></div>
				<div class="col-xs-4 text-right"> <small class="text-muted">R$ 1,00</small></div>
			</div>

		<div class="row bottom">
			<div class="col-xs-7"><small>Total devido</small></div>
			<div class="col-xs-5 text-right"> <small>R$ 10,00</small></div>
		</div>
	</div>
</div>